*{
    background-color: black;
}

img{
    border:5px solid white;
    width: 100%;
    padding: 2px;
}

h1{
    color: white;
    font-family: "Libre Baskerville",serif;
    text-transform: uppercase;
}

p{
    color: white;
    font-family: serif,sans-serif;
    text-transform: capitalize;
}

div{
    margin-top: 20px;
    width: 50%;
    margin-left: 25%;
    text-align: center;
}

